<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
  <title>Offer Book</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
    <body>
        <div class="container " style="width: 30%; margin-top:3rem;">
            <div class="py-2 text-center">
              <h3>Admin Registration</h3>  
              <p class="lead">Enter a Username and a Password. Press Register to check if provided data are valid to continue.</p>
            </div>
          </div>
        <div class="container justify-content-center" style="width: 20%;">
            
            <form th:action="@{/register_user_submit}" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Username" th:field="${user.username}">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your credentials with anyone else.</small>
                </div>
                <div class="form-group py-1">
                    <label for="exampleInputFirstName">First Name</label>
                    <input type="text" class="form-control" id="" placeholder="John" th:field="${userProfile.firstName}">
                </div>
                <div class="form-group py-1">
                    <label for="exampleInputLastName">Last Name</label>
                    <input type="text" class="form-control" id="" placeholder="Smith" th:field="${userProfile.lastName}">
                </div>
                <div class="form-group py-1">
                    <label for="exampleInputTelephone">Telephone</label>
                    <input type="text" class="form-control" id="" placeholder="Telephone" th:field="${userProfile.telephone}">
                </div>
                <div class="form-group py-1">
                    <label for="exampleInputAddress">Address</label>
                    <input type="text" class="form-control" id="" placeholder="Address" th:field="${userProfile.address}">
                </div>
                <div class="form-group py-1">
                    <label for="exampleInputPassword1">Age</label>
                    <input type="number" class="form-control" id="" placeholder="Age" th:field="${userProfile.age}">
                </div>
                <div class="form-group py-1">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="" placeholder="Password" th:field="${user.password}">
                </div>
                <div class="form-group py-1">
                    <label for="exampleInputPassword1">Repeat Password</label>
                    <input type="password" class="form-control" id="" placeholder="Repeat Password">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit" style="margin-top: 1rem;">Register</button>
                  </div>
            </form>
        </div>

        <div class="container" style="width: 30%; margin-top:1rem;">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <h6 class="text-center">Are you a book</h6>
                    <h3 class="text-center"> Addict</h3>
                    <p class="text-center">Take your dose</p>
                </div>
            </div>
        </div>
        
    </body>
</html>